button {
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: calc(3px * var(--ratio));
  border: none;
  letter-spacing: calc(3 * var(--leading, 0.025em)); /* Corrected ccalc to calc */
  font-family: inherit;
  color: var(--grey-color);
  background-color: var(--light-color-bg);
  font-size: large;
  font-weight: 700;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
}

  #close_dialog {
    width: 48%;
    float: left;
  }

  #confirm_dialog {
    width: 48%;
    float: right;
  }

  button:focus {
    outline: none;
    border: 0.0625rem solid transparent;
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
  }
  
  button.cta {
    background-color: var(--cta-color);
    color: white;
  }
  
  button.cta:focus {
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
  }
/*
  button:hover {
    border: 1px solid black;
  }
 */ 
  #open_dialog {
    margin: 0 auto;
  }
  
  dialog {
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
    margin: auto;
  }

  dialog::backdrop {
    backdrop-filter: blur(5px);
  }
  
  dialog img {
    display: block;
    max-width: 85%;
    margin: 1rem 0 auto 2rem;
  }

  input {
    transition: width 1s;
  }

  input:valid {
    border: 2px solid green;
  }
  
  input:invalid {
    border: 2px solid red;
  }
  
  input:hover {
    width: 102%;
  }


