* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #4b4eff;
    --bluelight: #D2DAFF;
    --violetlight: #c0c1fe;
    --ratio: 3.74;
    --cta-color: rgb(101, 29, 202);
    --light-color-bg: rgba(238, 241, 247, 0.881);
    --dark-color-bg: rgb(55, 65, 81);
    --grey-color: rgb(107, 114, 128);
    --leading: 0.025em;
}

header, main {
    margin: auto;
    width: 80%;
}

body {
    background-color: var(--bluelight);
}

body:has(dialog[open]) {
    overflow-y: hidden;
}

.home-navbar {
    background-color: var(--blue);
    padding: 30px;
}

#logo {
    color: rgba(247, 138, 4, 1);
    display: inline-block;
    padding: 10px;
    font-size: 38;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }


li {
    display: inline-block;
}

.info {
    background-color: var(--violetlight);
    padding: 70px 0 70px 0;
    color: #3a393afb;
    margin-bottom: 50px;
    margin-top: 100px;
    position: relative;
    
}

.info:after {
    content: "";
    display: table;
    clear: both;
}

.info-img {
    width: 25%;
    border-radius: 25px;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}

.info-text {
    float: left;
    width: calc(70% - 220px);
    
}

b {
    color: rgb(0, 0, 0);
}


footer {
    background-color: var(--blue);
    color: #1c1c1cfb;
    text-align: center;
    padding: 30px;
}

a {
    color: white;
    margin-left: 35px;
    padding: 7px;
}

a:hover {
    color: rgba(247, 138, 4, 1);
    border-bottom: 2px solid rgba(247, 138, 4, 1);
}


a:active {
    color: rgb(151, 83, 0);
    border-bottom: 2px solid rgb(151, 83, 0);
}

#message {
    margin: 30px 0 30px 0;
}


#toprightimg {
    width: 275px;
    position: absolute;
    top: -75px;
    right: 40px;
    
}


input[type=text],input[type=password],input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  
